@import "./Color.scss";

a {
  text-decoration: none;
}
body {
  font-family: "Open Sans", sans-serif;
  background: $primary-color;
}
h3 {
  color: $font-secondary;
  margin: 10px 0;
  font-weight: 400;
  font-size: 22px;
}
