@import "./Color.scss";

.cards {
  background: $secondary-color;
  cursor: pointer;
  transition: all 0.3s;
  min-height: 400px;
  height: 100%;
  margin: 10px;

  &:hover {
    transform: scale(1.05);
    transition: all 0.3s;
  }

  img {
    width: 100%;
    height: 280px;
  }

  .card-body {
    height: 100%;
  }
}

